#gameArea {
    border: 1px solid black;
    height: 720px;
    width:  480px;
}

.empty-block {
    stroke: none;
    fill: #fff;
}

.solid-block-blue {
    stroke: none;
    fill: #469;
}

.solid-block-red {
    stroke: none;
    fill: #946;
}